body {
    background: black;
    padding: 0;
    margin: 0;
    height: 1850px;
}


nav{
    height: 70px;
    background-color: black;
    position: relative;
    top: -100px;
    color: white;
    transition: 0.6s ease-in-out;
  
}

nav h1{
    font-family: Arial;
    font-weight: bold;
    position: relative;
    top: 18px;
}

nav h1:hover{
    transform: translateY(-8px);
    transition: 0.6s ease-in-out;
    cursor: pointer;
}


nav ul{
    text-decoration: none;
    list-style: none;
}

nav a{
    color: white;
    text-decoration: none;
}

nav ul li a{
    float: right;
    padding: 5px;
    position: relative;
    top: -18px;
    font-family: Arial;
    font-weight: bold;
}

nav ul li a:hover{
    transform: translateY(-8px);
    transition: 0.6s ease-in-out;
    cursor: pointer;
}


.heart1{
    height: 40px;
    width: 40px;
    background: #f20044;
    position: relative;
    top: 100px;
    left: 100px;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 90px #f20044;
    animation: heart1 0.6s linear infinite;
}

@keyframes heart1{
    0%{
        transform: rotate(-45deg) scale(1.07)
    }
    80% {
        transform: rotate(-45deg) scale(1.0)
    }
    100% {
        transform: rotate(-45deg) scale(1.0)
    }
}

.heart1:before{
    content: '';
    position: absolute;
    height: 40px;
    width: 40px;
    background: #f20044;
    top: -50%;
    border-radius: 50px;
    box-shadow: -10px -10px 90px #f20044;
}

.heart1:after{
    content: '';
    position: absolute;
    height: 40px;
    width: 40px;
    background: #f20044;
    right: -50%;
    border-radius: 50px;
    box-shadow: 10px 10px 90px #f20044;
}



.heart2 {
    height: 40px;
    width: 40px;
    background: #f20044;
    position: relative;
    top: 100px;
    left: 1200px;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 90px #f20044;
    animation: heart1 0.6s linear infinite;
}

@keyframes heart2 {
    0% {
        transform: rotate(-45deg) scale(1.07)
    }

    80% {
        transform: rotate(-45deg) scale(1.0)
    }

    100% {
        transform: rotate(-45deg) scale(1.0)
    }
}

.heart2:before {
    content: '';
    position: absolute;
    height: 40px;
    width: 40px;
    background: #f20044;
    top: -50%;
    border-radius: 50px;
    box-shadow: -10px -10px 90px #f20044;
}

.heart2:after {
    content: '';
    position: absolute;
    height: 40px;
    width: 40px;
    background: #f20044;
    right: -50%;
    border-radius: 50px;
    box-shadow: 10px 10px 90px #f20044;
}

.container p, .container h1, .container span{
    display: flex;
    justify-content: center;
    font-family: Arial;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.container span:hover{
    color: #f20044;
    cursor: pointer;
    transform: translateY(-10px)
}



.container p{
   text-align: center;
   width: 500px;
   position: relative;
   left: 430px;
   top: 200px;
}

button {
    background: none;
    width: 70px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 10px;
    z-index: 9999;
    position: relative;
    left: 630px;
    top: 300px;
}



button:hover{
    cursor: pointer;
}

button img{
    border-radius: 20px;
}

.generatee{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 300px;
    left: 25px;
}

.generatee h2{
    font-weight: bold;
    color: #f20044;
    width: 800px;
}

.generator{
    position: relative;
    top: 500px;
    left: 515px;
    width: 190px;
    background: none;
    padding: 0;
    font-size: 20px;
    color: white;
    font-family: Arial;
    font-weight: bold;
}

.info{
    display: flex;
    justify-content: center;
    position: relative;
    top: 500px;
}

.info h5{
    color: white;
    font-family: Arial;
    font-weight: bold;
}

.scroll{
    display: flex;
    justify-content: center;
    position: relative;
    top: 250px;
}

.scroll h4{
    font-family: Arial;
    font-weight: bold;
    color: white;
}

.glass {
    min-height: 60vh;
    width: 20%;
    border-radius: 2rem;
    position: relative;
    left: 544px;
    top: 680px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.dashboard:hover{
    transform: rotateY(180deg);
}


.dashboard {
    font-family: Arial;
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 2rem;
    color: white;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.user{
    font-family: Arial;
    position: relative;
    top: 60px;
}

.about-me h3{
    position: relative;
    top: 75px;
}

.about-me p{
    position: relative;
    top: 75px;
}

.profile-text{
    color: white;
    text-align: center;
    width: 500px;
    position: relative;
    top: 680px;
    left: 440px;
    font-family: Arial;
    font-weight: bold;
}

@media all and (max-width: 500px) {
    body{
        width: 100%;
    }

    .glass{
        position: absolute;
        left: 40%;
        top: 210%;
    }

    .profile-text{
        width: auto;
        position: absolute;
        left: auto;
        top: 280%;
        display: flex;
        justify-content: center;
    }

    .container p{
        position: absolute;
        left: auto;
        width: 480px;
        top: 50%;
    }

    .naruto{
        position: absolute;
        left: 43%;
        top: 120%;
    }

    .generator{
        position: absolute;
        left: auto;
        top: 160%;
        width: 480px;
    }

    .generatee h2{
        width: 300px;
    }

    .heart1{
        position: relative;
        left: 30px;
        top: 130px;
    }

    .heart2{
        position: relative;
        top: 100px;
        left: 400px;
    }

    nav{
        width: 100%;
    }

    nav h1{
        margin: 5px;
    }

}